# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# EMACS backups
*~

# OSX sidecar files
._*

# cmake build folders
tools/command-line/build

# temporary configuration files
scripts/board_enable-*.txt
scripts/board-enable-*.txt
scripts/config_sampa*.txt
scripts/solar-clock-phase-*.txt
scripts/gbtx-regs-*.txt
